
h4.one{text-align: center;
   color: #62a162;
   text-shadow: -2px 3px #f3ce66,-3px 5px red,-4px 7px #e9a1e9;
}


.one{ 
  color: #44aa9c;}
  
.second{text-decoration: line-through;
color: green;
text-decoration-color: #f0cb47;
width: 90px;
border-bottom: 3px solid green;
}
  
.two{color:rgb(229,35,35);}

.three{color: #c44dc4;}
.four{color: #ecb53f;}


     
   
