.head{font-style: italic;
      color: blue;
}

.two{ color:rgba(75,161,75,0.867);
     text-decoration: underline;
      text-decoration-color:#76b876;}
      
#third{color:violet}

#fourth{color: red;}

#fifth{color: #2ef46c;}

.sixth{color: #64ad64d5;}

.seventh {color:yellow;}

.eighth{color: violet;}
